@model ResultViewModel<Application.Students.Dtos.StudentDto>

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    @{ await Html.RenderPartialAsync("_StatusMessage", Model); }
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.PayRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.PayRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.PrepaidMoney)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.PrepaidMoney)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.UpdatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.UpdatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.IsActive)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data.IsActive)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data.StudentWeights)
        </dt>
        @foreach (var weight in Model.Data.StudentWeights.Take(5))
        {
            <dd class="col-sm-10">
                @weight.CreatedAt => @weight.Weight
            </dd>
        }
    </dl>
</div>
<div>
    @Html.ActionLink("Show Weights", "Index", "StudentWeights", new { studentId = Model.Data.Id }) |
    <a asp-action="Edit" asp-route-id="@Model.Data.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
